---

# install portainer
portainer_enable: true

# shell in a box
shellinabox_enable: true

# Homer Dashboard
homer_enable: true

# Apache Guacamole

guac_enable: true

# Pi-Hole

hostname: pihole
timezone: Asia/Kolkata
